body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

table {
  width: 90vw;
  height: 90vw;
  max-width: 600px;
  max-height: 600px;
  margin: auto;
  border-collapse: collapse;
}

tr {
  margin: 0;
  padding: 0;
}

td {
  width: 3rem;
  height: 3rem;
  text-align: center;
  font-size: 20px;
  border: 1px solid lightgray;
}

td:hover {
  background-color: #d3d3d3;
}

td.revealed {
  background-color: #d3d3d3;
}

.number-1 {
  color: blue;
}
.number-2 {
  color: green;
}
.number-3 {
  color: red;
}
.number-4 {
  color: darkblue;
}
.number-5 {
  color: darkred;
}
.number-6 {
  color: teal;
}
.number-7 {
  color: black;
}
.number-8 {
  color: gray;
}
